@using VinaShoseShop.Models;
@model List<Hangsanxuat>

<br />

<div class="bg-success">

    <h3> THƯƠNG HIỆU </h3>

    <div class="brand-container">

        @foreach (var item in Model)
        {
            <div class="brand-button">
                <a href="@Url.Action(item.Tenhang.Trim(), "Sanpham", new { tenThuongHieu = item.Tenhang.Trim() })">@item.Tenhang.Trim()</a>
            </div>
        }
    </div>
</div>

<style>
    .brand-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 10px 0;
    }

    .brand-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px; /* Chiều rộng cố định */
        height: 60px; /* Chiều cao cố định */
        margin: 10px; /* Khoảng cách giữa các nút */
        background-color: #28a745; /* Màu nền thành công */
        color: white;
        text-decoration: none;
        border: 2px solid #218838; /* Viền cố định */
        border-radius: 5px;
        font-weight: bold;
        transition: background-color 0.3s;
    }

        .brand-button:hover {
            background-color: #218838; /* Màu nền khi hover */
        }

        .brand-button a {
            color: white;
            text-decoration: none;
            width: 100%;
            text-align: center;
            line-height: 60px; /* Căn giữa văn bản theo chiều dọc */
        }
</style>
