@{
    ViewBag.Title = "Liên Hệ";
}

@section Styles {
    <link href="@Url.Content("~/Scripts/CSS/ContactStyles.css")" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" type="text/css" />
}

<section class="contact-section">
    <div class="container">
        <h2 class="contact-title">@ViewBag.Title</h2>

        <div class="contact-container">
            <address class="contact-info">
                <p><i class="fas fa-map-marker-alt"></i><strong>Địa chỉ:</strong> Trung tâm 123, đường Nguyễn Văn Linh, Liên Bảo, Vĩnh Yên, Vĩnh Phúc</p>
                <p><i class="fas fa-phone-alt"></i><strong>Phone:</strong> <span class="phone">0868.370.213</span></p>
            </address>

            <address class="email-section">
                <p><i class="fas fa-envelope"></i><strong>Support:</strong> <span class="email"><a href="mailto:Support@example.com">Support@example.com</a></span></p>
                <p><i class="fas fa-envelope"></i><strong>Marketing:</strong> <span class="email"><a href="mailto:Marketing@example.com">Marketing@example.com</a></span></p>
            </address>

            <div class="contact-form">
                <h3>Gửi Tin Nhắn Cho Chúng Tôi</h3>
                <form action="@Url.Action("SubmitContact", "Home")" method="post">
                    <div class="form-group">
                        <label for="name">Họ và Tên</label>
                        <input type="text" id="name" name="name" required />
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" required />
                    </div>
                    <div class="form-group">
                        <label for="message">Tin Nhắn</label>
                        <textarea id="message" name="message" required></textarea>
                    </div>
                    <button type="submit" class="submit-button">Gửi Tin Nhắn</button>
                </form>
            </div>
        </div>
    </div>
</section>